// Place all the styles related to the Urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div {
  margin: auto;
  background-color:  #00b3b3;
  text-align: center;
  padding: 0.5em 0em 1em;
}

p {
  margin: 3em 0em 3em;
}

table {
  border: solid black 1px;
  margin: auto;
  background-color: #b3ffff ;
}

table tr th {
  border: solid black 1px;
}

table tr td {
  border: solid black 1px;
}
